
:root {
    --lightThemeBgColor: rgb(41, 152, 0);
    --lightThemeColor: rgb(0, 0, 0);
    --lightConverterBgColor: rgb(209, 199, 187);
    
    --darkThemeBgColor: rgb(14, 114, 26);
    --darkThemeColor:rgb(235, 235, 235);
    --darkConverterBgColor: rgb(27, 28, 62);
    
}


html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: var(--lightThemeColor);
    background-image: url('images/1677640904_bogatyr-club-p-kupyura-shablon-foni-oboi-15.jpg');
}

.allElements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    max-height: 100%;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.head {
    background-color: var(--lightThemeBgColor) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.393);
    text-align: center;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 12px;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    letter-spacing: 4px;
    margin: 0 8px;
}


.logoOfGithub {
    position: absolute;
    left: 20px;
    top: 20px;
    transition: 0.3s;
}

.img {
    width: 100%;
    height: 100%;
}

.logoOfGithub:hover {
    transform: scale(1.25);
}

.lightMode {
    position: absolute;
    right: 20px;
    top: 20px; 
}
.lightModeBtn{
    background-color: var(--lightConverterBgColor);
    border-radius: 32px;
    border: 2px solid black;
    padding: 8px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    transition: 0.1s;
    width: 100%;
    height: 100%;
}

.darkModeBtn {
    background-color: var(--darkConverterBgColor);
    border-radius: 32px;
    border: 2px solid black;
    padding: 8px;
    color: azure;
    font-size: 24px;
    font-weight: 400;
    transition: 0.1s;
    width: 100%;
    height: 100%;
}

.lightModeBtn:hover {
    border-color: rgb(84, 84, 84);
    transform: scale(1.15);
}

.darkModeBtn:hover {
    border-color: rgb(149, 149, 149);
    transform: scale(1.15);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter {
    background-color: var(--lightConverterBgColor);
    border-radius: 32px;
    width: 65%;
    height: 300px;
    padding: 20px;
    margin: 40px 0 ;
    border: 4px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.532);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fromTo {
    max-width: 80%;
}

.yourCurrency, .intoCurrency {
    display: flex;
    margin-bottom: 16px;
}

.yourCurrency input {
    margin-left: 16px;
    padding: 8px;
    background-color: bisque;
    border-radius: 20px;
    text-align: center;
}

.intoCurrency input {
    margin-left: 16px;
    padding: 8px;
    background-color: bisque;
    border-radius: 20px;
    text-align: center;
}

.your {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value input {
    padding: 8px;
    background-color: rgba(41, 152, 0, 0.539);
    border-radius: 16px;
    text-align: center;
    color: aliceblue;
    width: 500px;
}

.into {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: var(--lightThemeBgColor);
    box-shadow: 0 4px 20px rgb(0, 0, 0);
    text-align: center; 
    padding: 20px 0;
}

p {
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}




@media (max-width: 1000px) {
    h1{
        font-size: 36px;
    }
    .img {
        width: 80%;
        height: 80%;
    }
    .lightModeBtn, .darkModeBtn{
        width: 100%;
        height: 80%;
        font-size: 18px;
    }

    p{
        margin: 0 20px;
    }
}


@media (max-width: 768px) {
    h1{
        font-size: 28px;
    }
    .img {
        width: 70%;
        height: 70%;
    }
    .lightModeBtn, .darkModeBtn{
        width: 100%;
        height: 50%;
        font-size: 14px;
    }


    h2 {
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    h1{
        font-size: 24px;
    }
    .img {
        width: 60%;
        height: 60%;
    }
    .lightModeBtn, .darkModeBtn{
        width: 100%;
        height: 30%;
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    h1{
        font-size: 18px;
        letter-spacing: 1px;
    }
    .img {
        width: 60%;
        height: 60%;
    }
    .lightModeBtn, .darkModeBtn{
        width: 100%;
        height: 30%;
        font-size: 12px;
        
    }
    .logoOfGithub {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        top: 6px;
        left: 6px;
    }
    .lightMode{
        top: 6px;
        right: 6px;
    }


    h3 {
        font-size: 18px;
    }
    .input{
        width: 120px;
        height: 28px;
    }
    #clientValueInp, #resultValueInp{
        width: 200px;
        height: 32px;
    }

    h2 {
        font-size: 14px;
    }
    p{
        font-size: 10px;
        margin: 0 20px;
    }
}
@media (max-width: 400px) {
    h1{
        font-size: 18px;
        letter-spacing: 0px;
    }
    .img {
        width: 50%;
        height: 50%;
    }
    .lightModeBtn, .darkModeBtn{
        width: 65%;
        height: 15%;
        font-size: 10px;
    }
}

@media (max-width: 321px) {
    h1{
        font-size: 18px;
        letter-spacing: 0px;
    }
    .img {
        width: 40%;
        height: 40%;
        margin: 0;
    }
    .lightModeBtn, .darkModeBtn{
        width: 63%;
        height: 10%;
        font-size: 8px;
    }


    h3 {
        font-size: 14px;
    }
    .input{
        width: 100px;
        height: 20px;
    }
    #clientValueInp, #resultValueInp{
        width: 180px;
        height: 24px;
    }
    .your{
        margin-bottom: 60px;
    }
    .into{
        margin-top: 60px;
    }
}